a:link {
	color: #000000;
; border: B1C9D0
; text-decoration: none
; font-weight: normal; letter-spacing: 1px
; font-family: Tahoma
; font-size: 9px
}
a:visited {
	color: #000000;
	text-decoration: none;
; border: B1C9D0
; font-weight: normal; letter-spacing: 1px
; font-family: Tahoma; font-size: 9px
}
a:hover {
	color: 6B7825;
; border: B1C9D0
; font-weight: normal
; text-decoration: none
; letter-spacing: 1px
; font-family: Tahoma
; font-size: 9px
}
a:active {
	color: #000000;
	text-decoration: none;
; border: B1C9D0
; font-weight: normal; letter-spacing: 1px
; font-family: Tahoma; font-size: 9px
}
.text1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000000; ; font-style: normal; line-height: normal; font-variant: normal}
.head { font-family: Tahoma; font-size: 11px; font-weight: bold; color: 6B7825; ; font-style: normal; line-height: normal; font-variant: normal }
.pagehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	;
	font-style: normal;
	line-height: normal;
	font-variant: normal
}
.news { font-family: Tahoma; font-size: 11px; font-weight: bold; color: #FFFFFF; ; font-style: normal; line-height: normal; font-variant: normal }
